/* !!! put it after :
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css"> in the WWCC_Pro.html file */


/* Font family */

* {
  font-family: 'Lato', sans-serif;
}



/* Navigation separator */

/* nav li{ border-right: 1px solid black; padding-right: 2px; }

nav li:last-of-type { border: none; left: -1px;}*/



/* To put radius to Buttons, Nav a, input*/

.btn, input[type=text] { border-radius: 4px; }



/* Header style resized */

/* Delete topMargin15 line 39 in index.html */


.compressedHeader {
	height: 80px;
	max-height: 80px;
}

.compressedHeader #logo {
	width: 80%;
	height: 80%;
	margin-top: 8px;
}