/* Text */

h1 {
	color:white;
	font-size: 1.7em;
}

p {
  font-size: 16px;
}

/* Button */

nav a, nav a:hover, nav a:visited {	color: black; }

nav a:hover {	background-color: #DFE5E6; }

nav a:active {	background-color: #c8cecf;	}

.btnPrimary {	background-color: #4ECCC3; }

.btnPrimary:hover { background-color: #3EA39C; }

a.btnPrimary, a.btnPrimary:hover, a.btnPrimary:active, input[type="submit"].btnPrimary, .ghostButton { color:white; }

.ghostButton{
	background: none;
	border: 3px solid white;
}

.ghostButton:hover{
	background-color: white;
	color: #4ECCC3;
}

/* Errors */

label.error {
  color: #FFF;
  padding: 7px;
  border: 2px solid #FFF;
  border-radius: 4px;
  position: relative;
  top: 15px;
}

label.error:after, label.error:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

label.error:after {
  border-color: rgba(255, 101, 54, 0);
  border-width: 2px;
  margin-left: -2px;
}
label.error:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 5px;
  margin-left: -5px;
}

/* Colors */

.darkBlueBG { background-color: #1A2732; }

.greyBG { background-color: #51626F; }

.lightGreyBG { background-color: #DFE5E6; }

.lightGreyBGhover { background-color: #c8cecf; }

.redBG { background-color: #D3222A; }

.lightBlueBG { background-color: #4ECCC3; }

.lightBlueBGhover { background-color: #3EA39C; }

/* Heights */

.bH26 { height: 26px; }
.bLH26 { line-height: 26px; }

.bH44 { height: 44px; }
.bLH44 { line-height: 44px; }

.bH62 { height: 62px; }
.bLH62 { line-height: 62px; }

.bH80 { height: 80px; }
.bLH80 { line-height: 80px; }

.bH110 { height: 110px; }
.bLH110 { line-height: 110px; }